﻿@page
@model Library.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "";

    string mess = (string)HttpContext.Session.GetString("message");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0beab2041e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @@media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">

                    <div class="px-5 ms-xl-4">
                        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        <span class="h1 fw-bold mb-0">Book Shop</span>
                    </div>

                    <div class="d-flex align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                        <form style="width: 23rem;" asp-page="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
                            <h5 class="text-danger">@Html.ValidationMessage("wrong")</h5>

                            <h5 class="text-danger">@mess</h5>

                            <div class="form-outline mb-4">
                                <label asp-for="User.Username" class="control-label"></label>
                                <input asp-for="User.Username" class="form-control form-control-lg" />
                                <span asp-validation-for="User.Username" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="User.Password" class="control-label"></label>
                                <input asp-for="User.Password" class="form-control form-control-lg" />
                                <span asp-validation-for="User.Password" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4 d-flex">
                                <label class="control-label p-2"><a href="/Register">Register</a></label>
                                <label class="control-label p-2"><a href="/RePassword">Forget password</a></label>
                            </div>


                            <div class="pt-3 mb-4">
                                <input type="submit" value="Login" class="btn btn-info btn-lg btn-block" />
                            </div>
                        </form>
                    </div>
                    



                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
                         alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
            </div>
        </div>
    </section>
</body>

</html>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
