﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row bg-secondary py-1 px-xl-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="d-inline-flex align-items-center h-100">
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <div class="btn-group">
                            @if (Context.Session.GetString("username") == null)
                            {
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Guest</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@Context.Session.GetString("username")</button>
                            }
                            <div class="dropdown-menu dropdown-menu-right">
                                @if (Context.Session.GetString("username") != null)
                                {

                                    <a asp-page="Profile" class="dropdown-item">User profile</a>
                                    <a asp-page="Cart" class="dropdown-item">My Cart</a>
                                    <a asp-page="Order" class="dropdown-item">My Order</a>
                                    @if (Context.Session.GetString("role").Equals("admin"))
                                    {
                                        <a asp-page="/Admin/Dashboard" class="dropdown-item">Admin Page</a>

                                    }
                                }
                                else
                                {
                                    <button class="dropdown-item" type="button" onclick="window.location.href='Login'">Login</button>
                                }



                                @if (Context.Session.GetString("username") != null)
                                {
                                    <button class="dropdown-item" type="button" onclick="window.location.href='logout'">Logout</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="d-inline-flex align-items-center d-block d-lg-none">
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                <div class="col-lg-4">
                    <a asp-page="/Index" class="text-decoration-none">
                        <span class="h1 text-uppercase text-primary bg-dark px-2">Book</span>
                        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                    </a>
                </div>
                <div class="col-lg-4 col-6 text-left">
                    <form method="get" action="/Book/Search">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="Search for books by title, description, publisher,...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search" style="color:white;margin-right:3px"></i><span style="color:white;">Search</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-6 text-right">
                    <p class="m-0">Library Service</p>
                    <h5 class="m-0">+012 345 6789</h5>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">

                        <a asp-page="/Book/Search" asp-route-cid="1" class="nav-item nav-link">Action</a>

                        <a asp-page="/Book/Search" asp-route-cid="1" class="nav-item nav-link">Comedy</a>

                        <a asp-page="/Book/Search" asp-route-cid="1" class="nav-item nav-link">Adventure</a>

                        <a asp-page="/Book/Search" asp-route-cid="1" class="nav-item nav-link">Crime</a>

                        <a href="" class="nav-item nav-link">Sci-Fiction</a>

                        <a href="" class="nav-item nav-link">Religion</a>

                        <a href="" class="nav-item nav-link">Romance</a>

                        <a href="" class="nav-item nav-link">War</a>

                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a asp-page="/Index" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Library</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Management</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a asp-page="/Index" class="nav-item nav-link">Home</a>
                            <a asp-page="/Book/Search" class="nav-item nav-link">Books</a>
                            @* <a href="author" class="nav-item nav-link">Authors</a> *@
                            @* <a href="blog" class="nav-item nav-link">Blog</a> *@

                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a asp-page="/Cart" class="btn px-0">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span id="cartcounting" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@Context.Session.GetInt32("cartcount")</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @RenderBody()

    <footer class="">
        <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 mb-5 pr-3 pr-xl-5">
                        </div>
                        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Online</p>
                            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>tu di ma tim</p>
                            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>081273273</p>
                        </div>


                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">Follow Us</h5>
                            <div class="d-flex">
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary">
                        <a class="text-primary" href="#"></a>All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="img/payments.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>